<div class="header">
  <app-error-handler *ngIf="isHeaderError$ | async"
                     (reloadData)="ngOnInit()"
  ></app-error-handler>
  <ng-container *ngIf="!(isHeaderError$ | async)">
    <div class="header__banner">
      <img src="{{(subInfoResponse$ | async)?.bannerBackgroundImage}}" alt="banner">
    </div>
    <div class="header__title">
      <div class="header__icon">
        <img src="{{(subInfoResponse$ | async)?.communityIcon}}" alt="icon">
      </div>
      <div>
        <h1 class="header__sub-title">
          {{(subInfoResponse$ | async)?.title}}
        </h1>
        <p class="header__description">
          {{(subInfoResponse$ | async)?.publicDescription}}
        </p>
        <span>Subscribers: {{(subInfoResponse$ | async)?.subscribers | number: '1.0-3' : 'en-US'}} | </span>
        <span>Active users: {{(subInfoResponse$ | async)?.activeUserCount | number: '1.0-3' : 'en-US'}}</span>
      </div>
    </div>
  </ng-container>
</div>
