<div class="listing-details">
  <button mat-flat-button color="accent" (click)="onClickBack()">Back to List</button>
  <app-error-handler *ngIf="isDetailsError$ | async"
                     (reloadData)="ngOnInit()"
  ></app-error-handler>
  <ng-container *ngIf="!(isDetailsError$ | async)">

    <div class="listing-details__main">
      <mat-card>
        <mat-card-title>{{listingSubject.title}}</mat-card-title>
        <mat-card-subtitle>Posted by {{listingSubject.author}}</mat-card-subtitle>
        <mat-card-subtitle>{{listingSubject.numComments}} comments | Score: {{listingSubject.score}}</mat-card-subtitle>
        <mat-card-content>{{listingSubject.selfText}}</mat-card-content>
        <mat-card-content align="center"
                          *ngIf="listingSubject.thumbnail?.length > 10">
          <img src="{{listingSubject.thumbnail}}"/>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="listing-details__comments" *ngFor="let comment of listingComments">
      <mat-card>
        <mat-card-subtitle>Posted by {{comment.author}} | Score: {{comment.score}}</mat-card-subtitle>
        <mat-card-content>{{comment.selfText}}</mat-card-content>
      </mat-card>
    </div>
  </ng-container>
</div>
